.rbc-date-cell:first-child,
.rbc-header:first-child {
  color: red;
}
.rbc-date-cell:last-child,
.rbc-header:last-child {
  color: blue;
}
.rbc-day-bg {
  background-color: yellow;
  z-index:2;
}
.special-day {
  background-color: green;
  flex: 1 0;
}
